# Mobile Data Speeds
### (Croud Sourced Data provided by Govt. of India)
<a href = "">

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("march18_myspeed.csv")
df.head()

,Service Provider,Technology,Test_type,Data Speed(Mbps),Signal_strength,LSA
0,JIO,4G,Upload,7.30,-63,Andhra Pradesh
1,JIO,4G,Upload,7.31,-65,Andhra Pradesh
2,JIO,4G,Upload,6.91,-65,Andhra Pradesh
3,VODAFONE,4G,Download,7.73,-90,Maharashtra
4,VODAFONE,4G,Download,6.92,-90,Maharashtra

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322972 entries, 0 to 1322971
Data columns (total 6 columns):
Service Provider    1322972 non-null object
Technology          1322972 non-null object
Test_type           1322972 non-null object
Data Speed(Mbps)    1322972 non-null float64
Signal_strength     1322972 non-null object
LSA                 1322972 non-null object
dtypes: float64(1), object(5)
memory usage: 60.6+ MB

In [4]:
df.columns = ['isps', 'technology', 'test_type', 'data_speed_mbps', 'signal_strength', 'LSA']

The `na` values in the dataset were in the form of string 'na'. So there was a need of converting them to `numpy.nan`

In [5]:
df = df.replace('na', np.nan)
df.signal_strength = pd.to_numeric(df.signal_strength)
df.signal_strength = np.around(df.signal_strength.fillna(df.signal_strength.median()))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322972 entries, 0 to 1322971
Data columns (total 6 columns):
isps               1322972 non-null object
technology         1322972 non-null object
test_type          1322972 non-null object
data_speed_mbps    1322972 non-null float64
signal_strength    1322972 non-null float64
LSA                1322972 non-null object
dtypes: float64(2), object(4)
memory usage: 60.6+ MB

In [6]:
df.head()

,isps,technology,test_type,data_speed_mbps,signal_strength,LSA
0,JIO,4G,Upload,7.30,-63.0,Andhra Pradesh
1,JIO,4G,Upload,7.31,-65.0,Andhra Pradesh
2,JIO,4G,Upload,6.91,-65.0,Andhra Pradesh
3,VODAFONE,4G,Download,7.73,-90.0,Maharashtra
4,VODAFONE,4G,Download,6.92,-90.0,Maharashtra

In [7]:
df.to_csv("clean_speed_data.csv",index=False)